@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

ul {
  position: fixed;
  top: 15px;
  right: 10%;
  transform: translateY(-50%);
  z-index: 999;
  margin: 0;
  padding: 0;
}
ul li {
  /* border-left: 2px solid rgba(100, 99, 99, 0.486); */
  list-style: none;
  float: left;
  text-align: center;
  height: 2.1rem;
  font-weight: 600;
  background: rgba(112, 112, 111, 0.884);
}

ul li:nth-child(1) {
  border-radius: 0px 0px 0px 20px;
}

ul li:nth-child(4) {
  border-radius: 0px 0px 20px 0px;
}

ul li a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 13px;
  width: 80px;
  height: 40px;
  color: rgba(255, 255, 255, 0.884);
  line-height: 30px;
}

ul li:hover {
  background: rgba(68, 68, 68, 0.445);
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container .section {
  position: relative;
  scroll-snap-allign: start;
  background-blend-mode: multiply;
  width: 100%;
  height: 0;
  padding-top: calc(300 / 600 * 100%);
  /* overflow:hidden; */
}

.container .section-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
  position: relative;
  width: 100%;
  height: 30%;
  color: rgba(255, 255, 255, 0.479);
}

.container .section-footer .footer-icon .fas {
  margin-right: 10px;
  margin-bottom: 10px;
}

.container .section-footer .footer-icon .github-icon {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 7px;
}

.container .section-footer .footer-icon .email-icon {
  color: rgba(59, 226, 255, 0.418);
}

.container .section-footer .footer-icon .phone-icon {
  color: rgba(201, 66, 66, 0.788);
}

.container .section .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 0.5px rgba(0, 0, 0, 0.788);
  text-align: center;
}
.container .section .wrap .introduce-text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

#typing {
  position: relative;
  display: inline-block;
}

#typing::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#typing.active::after {
  display: none;
}

.container .section:nth-child(1) {
  background: rgba(0, 0, 0, 0.623) url("../img/main.png");
  /* background: rgb(187, 81, 81); */
  background-size: cover;
  /* background-attachment: fixed; */
  background-blend-mode: multiply;
}

.container .section:nth-child(2) {
  background: rgb(255, 255, 255);
  background-size: cover;
  height: 100% !important;
  padding-top: 0;
}

.container .section:nth-child(3) {
  background: linear-gradient(to right, #11998e, #38ef7d);
  background-size: cover;
  height: 65% !important;
  padding-top: 0;

  /* background-attachment: fixed; */
}

.container .section:nth-child(4) {
  background: url("../img/portfolio-1.png");
  background-size: cover;
  margin: 0px 0px 100px 0px;
  /* background-attachment: fixed; */
}

.container .section:nth-child(5) {
  background: url("../img/portfolio-2.png");
  background-size: cover;
  margin: 100px 0px;
  /* background-attachment: fixed; */
}

.container .section:nth-child(6) {
  background: url("../img/portfolio-3.png");
  background-size: cover;
  margin: 100px 0px 0px 0px;
  /* background-attachment: fixed; */
}

.container .section-footer:nth-child(7) {
  background: rgb(58, 58, 58);
  height: 30% !important;
  background-size: cover;
  /* background-attachment: fixed; */
}
.container .section .icon-bar {
  position: absolute;
  top: 7%;
  left: 1%;
  width: 20%;
  font-size: 2.5rem;
  display: flex;
}

.container .section .icon-bar i {
  color: black;
  transform: 2s;
  transition: 0.4s;
  margin-left: 20px;
  cursor: grab;
}

.container .section .icon-bar i:hover {
  transform: translate(0, -5px);
}
.container .section .content {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  max-width: 50vw;
}
.container .section .about-text {
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  left: 50px;
  max-width: 30vw;
}

.container .section .about-content {
  position: absolute;
  top: 30%;
  right: 50px;
  max-width: 70vw;
  min-height: 40vh;
  margin-bottom: 4rem;
  padding: 1rem;
}

.container .section .about-content .about-title {
  display: inline-block;
}

.container .section .about-content .about-title:after {
  content: "";
  top: 100%;
  display: block;
  width: 100%;
  border-bottom: 4px solid #11998e;
  margin: 10px 0px 20px 0px;
}

.container .section .about-content .about-info {
  font-weight: 600;
}

/*======section #3======*/
.container .section .skill-content {
  position: absolute;
  top: 10vh;
  left: 15vw;
  max-width: 50vw;
}

.container .section .skill-content .skill-title {
  left: 20px;
  letter-spacing: 3px;
  display: inline-block;
  text-shadow: 1px 1px #999898a9;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.938);
  text-align: center;
}

.portfolio-title{
    left: 20px;
    letter-spacing: 3px;
    display: inline-block;
    text-shadow: 1px 1px #999898a9;
    position: absolute;
    top: -15vh;
    max-width: 50vw;
    color: rgba(255, 255, 255, 0.938);
}

/* 
.container .section .skill-content .skill-title:after {
  content: "";
  top: 100%;
  display: block;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  margin: 10px 0px 20px 0px;
} */

.container .section .skill-content .skill-title-front,
.skill-title-backend {
  color: rgba(255, 255, 255, 0.473);
}

.container .section .skill-content .skill-front {
  display: flex;
  margin: 30px 30px 50px 30px;
}

.container .section .skill-content .skill-backend {
  display: flex;
  margin: 30px;
}

.skills i {
  font-size: 2rem;
  margin: 5px 10px 0px 10px;
}

.skills {
  display: flex;
  width: 130px;
  height: 40px;
  list-style: none;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.918);
  box-shadow: 10px 10px 10px -10px rgb(37, 37, 37);
  border-radius: 8px;
  transform: 2s;
  transition: 0.4s;
  flex-shrink: 0;
}

.skills:hover {
  box-shadow: 10px 10px 10px 0px rgb(90, 90, 90);
  transform: translate(0, -5px);
}

.skill-front .skills:nth-child(1) {
  color: rgb(255, 136, 0);
}
.skill-front .skills:nth-child(2) {
  color: rgb(0, 119, 255);
}
.skill-front .skills:nth-child(3) {
  color: rgb(255, 251, 0);
}
.skill-front .skills:nth-child(4) {
  color: rgb(0, 247, 255);
}

.skills h4 {
  margin-top: 7px;
  color: rgb(70, 69, 69);
}

.skill-backend .skills:nth-child(1) {
  color: rgb(139, 27, 134);
}

.skill-backend .skills:nth-child(2) {
  color: rgb(69, 218, 64);
}
.container .section .content .subject {
  margin-top: 20px;
}
.container .section .content .subject span {
  line-height: 1.9;
  letter-spacing: 0.2px;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.918);
  font-weight: 700;
}

.container .section .content .subject span:nth-child(1) {
  background-color: #db5f0def;
}

.container .section .content .subject span:nth-child(2) {
  background-color: #2c6cf5dc;
}

.container .section .content .subject span:nth-child(3) {
  background-color: #ddd017e1;
}

.container .section .content p {
  color: rgba(0, 0, 0, 0.822);
  font-weight: bold;
  font-size: 25px;
  margin-top: 1em;
}
/*======reponsive======*/
@media only screen and (max-width: 480px) {
  ul {
  }

  .container .section .wrap .introduce-text {
    font-size: 0.9rem;
  }

  .container .section .about-content .about-title {
    font-size: 0.7rem;
    color: rgb(65, 64, 64);
  }
  .container .section .about-content .about-info {
    color: rgb(75, 75, 75);
    text-align: left;
    font-size: 0.9rem;
    font-weight: 00;
  }
  .container .section:nth-child(2) {
    
  }

  .container .section .skill-content {
    position: absolute;
    
    left: 3vw;
    max-width: 50vw;
  }
}

@media only screen and (max-width: 840px) {
  .container .section .about-text {
    display: none;
  }
  .container .section:nth-child(1) {
    height: 30%;
  }
  .container .section:nth-child(2) {
    height: 60% !important;
  }
  .container .section:nth-child(3) {
    
  }
  .container .section:nth-child(4) {
    margin: 60px 0px;
  }
  .container .section:nth-child(5) {
    margin: 60px 0px;
  }
  .container .section:nth-child(6) {
    margin: 60px 0px 0px 0px;
  }
  .container .section .about-content {
    top: 1%;
    left: 1%;
    text-align: center;
    width: 100%;
    height: 0;
    max-width: 90vw;
    min-height: 50vh;
  }

  .container .section .content {
    max-width: 45vw;
    bottom: 5vh;
    left: 3vw;
  }

  .container .section .content h2 {
    font-size: 1rem;
  }
  .container .section .content .subject span {
    line-height: 1;
    font-size: 0.2rem;
    font-weight: 700;
    padding: 2px 6px;
  }
  .container .section .content p {
    font-size: 0.3rem;
  }
  .container .section .icon-bar {
    font-size: 1rem;
  }

  .container .section .skill-content .skill-front {
    max-width: 400px;
    min-width: 350px;
    flex-wrap: wrap;
  }

  .container .section .skill-content .skill-front .skills:nth-child(3),
  .skills:nth-child(4) {
    margin-top: 20px;
  }
}
