@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #474747a8, #292929);
}
/*======menu======*/
ul {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  top: 15px;
  right: 10%;
  transform: translateY(-50%);
  z-index: 999;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  float: left;
  text-align: center;
  height: 2.1rem;
  font-weight: 600;
  background: rgba(112, 112, 111, 0.884);
}
ul li:nth-child(1) {
  border-radius: 0px 0px 0px 20px;
}
ul li:nth-child(4) {
  border-radius: 0px 0px 20px 0px;
}
ul li a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 13px;
  width: 80px;
  height: 40px;
  color: rgba(255, 255, 255, 0.884);
  line-height: 30px;
}
ul li:hover {
  background: rgba(68, 68, 68, 0.445);
}

/*======container======*/
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.container .section {
  overflow-x: hidden;
  position: relative;
  scroll-snap-allign: start;
  background-blend-mode: multiply;
  width: 100%;
  height: 0;
  /*사진크기 조절*/
  padding-top: calc(300 / 600 * 100%);
}

/*======background-img======*/
.container .section:nth-child(1) {
  background: rgba(0, 0, 0, 0.623) url("../img/main.png");
  background-size: cover;
  background-blend-mode: multiply;
}
.container .section:nth-child(2) {
  background: rgb(255, 255, 255);
  background-size: cover;
  height: 100% !important;
  padding-top: 0;
}
.container .section:nth-child(3) {
  background: linear-gradient(to right, #11998e, #a18528);
  background-size: cover;
  height: 80% !important;
  padding-top: 0;
}

.container .section:nth-child(4) {
  background: url("../img/portfolio-4.png");
  background-size: cover;
  margin: 0px 0px 100px 0px;
}

.container .section:nth-child(5) {
  background: url("../img/portfolio-5.png");
  background-size: cover;
  margin: 0px 0px 100px 0px;
}

.container .section:nth-child(6) {
  background: url("../img/portfolio-1.png");
  background-size: cover;
  margin: 0px 0px 100px 0px;
}

.container .section:nth-child(7) {
  background: url("../img/portfolio-3.png");
  background-size: cover;
  margin: 100px 0px;
}
.container .section:nth-child(8) {
  background: url("../img/portfolio-2.png");

  background-size: cover;
  margin: 100px 0px 0px 0px;
}
.container .section-footer:nth-child(9) {
  background: rgb(58, 58, 58);
  height: 30% !important;
  background-size: cover;
}
/*======section-1======*/
.container .section .wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 0.5px rgba(0, 0, 0, 0.788);
  text-align: center;
}
.container .section .wrap .introduce-text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
#typing {
  position: relative;
  display: inline-block;
}
#typing::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
#typing.active::after {
  display: none;
}
/*======section-2======*/
.container .section .about-text {
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  left: 50px;
  max-width: 30vw;
}

.container .section .about-text h1 span {
  font-size: 3.5rem;
  color: #086d647c;
}
.container .section .about-content {
  position: absolute;
  top: 30%;
  right: 50px;
  max-width: 70vw;
  min-height: 40vh;
  margin-bottom: 4rem;
  padding: 1rem;
}
.container .section .about-content .about-title {
  display: inline-block;
}
.container .section .about-content .about-title:after {
  content: "";
  top: 100%;
  display: block;
  width: 58%;
  border-bottom: 4px solid #086d647c;
  margin: 10px 0px 20px 0px;
}
/*======section-3======*/
.container .section .skill-content {
  position: relative;
  top: 15vh;
  left: 15vw;
  max-width: 50vw;
}
.container .section .skill-content .skill-title {
  left: 20px;
  letter-spacing: 3px;
  display: inline-block;
  text-shadow: 1px 1px #999898a9;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.938);
  text-align: center;
}
.container .section .skill-content .skill-title-front,
.skill-title-backend {
  color: rgba(255, 255, 255, 0.473);
}
.container .section .skill-content .skill-front {
  display: flex;
  margin: 30px 30px 50px 30px;
}
.container .section .skill-content .skill-backend {
  display: flex;
  margin: 30px;
}
.skills {
  display: flex;
  width: 130px;
  height: 40px;
  list-style: none;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.918);
  box-shadow: 10px 10px 10px -10px rgb(37, 37, 37);
  border-radius: 8px;
  transform: 2s;
  transition: 0.4s;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 5;
}
.skills:hover {
  box-shadow: 10px 10px 10px 0px rgb(90, 90, 90);
  transform: translate(0, -5px);
}

.skills a {
  text-decoration: none;
  display: inline;
}

.skills-content {
  display: flex;
}
.icon-title {
  margin-top: 50px;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.658);
  opacity: 0.4;
  font-weight: 600;
  text-shadow: 1px 1px #999898a9;
}

.skill-front .skills:nth-child(1) .skills-content i {
  color: rgb(255, 136, 0);
}
.skill-front .skills:nth-child(2) .skills-content i {
  color: rgb(0, 119, 255);
}
.skill-front .skills:nth-child(3) .skills-content i {
  color: rgb(238, 195, 4);
}
.skill-front .skills:nth-child(4) .skills-content i {
  color: rgb(4, 183, 189);
}
.skill-backend .skills:nth-child(1) .skills-content i {
  color: rgb(139, 27, 134);
}
.skill-backend .skills:nth-child(2) .skills-content i {
  color: rgb(80, 192, 76);
}

.skills i {
  font-size: 2rem;
  margin: 5px 10px 0px 10px;
}
.skills h3 {
  font-size: 1rem;
  text-align: center;
  margin-left: 4px;
  margin-top: 7px;
  color: rgba(32, 32, 32, 0.911);
}
.skill-popup {
  left: 15vw;
  position: fixed;
  top: 20%;
  /* left:40px; */
  width: 40%;
  height: 25%;
  /* border-top: 30px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: right;
  /* text-decoration: none; */
  padding: 20px;
  opacity: 0;
  background: #ffffffe5;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s;
}
.skill-popup:target {
  opacity: 1;
  z-index: 10;
}
.skill-popup:target + .dim {
  opacity: 1;
  z-index: 6;
}
.dim {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 30, 30, 0.788);
  opacity: 0;
  z-index: 3;
}

.skill-popup .popup-close a {
  padding: 10px;
  color: #ffffffcb;
  font-size: 0.9rem;
  border-radius: 12px;
  background: rgba(61, 68, 57, 0.616);
  text-decoration: none;
  transition: 0.5s;
}

.skill-popup .popup-close a:hover {
  background: rgba(221, 78, 78, 0.753);
}

.skill-popup .popup-content {
  margin-top: 10%;
  padding-left: 20px;
  text-align: left;
  font-size: 1.2rem;
}

/* .container .section .skill-content {
    position: absolute;
    top: 10vh;
    left: 15vw;
    max-width: 50vw;
  } */

/*======portfilio======*/
.container .section .content {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  max-width: 50vw;
}
.container .section .about-content .about-info {
  text-align: left;
  font-weight: 600;
}
.container .section .content .subject {
  margin-top: 10px;
}
.container .section .content .subject span:nth-child(1) {
  background-color: #db5f0def;
}
.container .section .content .subject span:nth-child(2) {
  background-color: #2c6cf5dc;
}
.container .section .content .subject span:nth-child(3) {
  background-color: #f3bc09;
}
.container .section .content .subject span {
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;

  border-radius: 100px;
  color: rgb(255, 255, 255);
}
.container .section .content p {
  color: rgba(0, 0, 0, 0.822);
  font-weight: bold;
  font-size: 25px;
  margin-top: 1em;
}
.container .section .icon-bar {
  position: absolute;
  top: 7%;
  left: 1%;
  width: 20%;
  font-size: 2.5rem;
  display: flex;
}
.container .section .icon-bar i {
  color: black;
  transform: 2s;
  transition: 0.4s;
  margin-left: 20px;
  cursor: grab;
}
.container .section .icon-bar i:hover {
  transform: translate(0, -5px);
}
/*======section-footer======*/
.container .section-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
  position: relative;
  width: 100%;
  height: 30%;
  color: rgba(255, 255, 255, 0.479);
}
.container .section-footer .footer-icon .fas {
  margin-right: 10px;
  margin-bottom: 10px;
}
.container .section-footer .footer-icon .github-icon {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 7px;
}
.container .section-footer .footer-icon .email-icon {
  color: rgba(59, 226, 255, 0.418);
}
.container .section-footer .footer-icon .phone-icon {
  color: rgba(201, 66, 66, 0.788);
}
/*======reponsive======*/
@media only screen and (max-width: 480px) {
  .container .section .wrap .introduce-text {
    font-size: 0.9rem;
  }

  .container .section .about-content .about-title {
    font-size: 0.7rem;
    color: rgb(65, 64, 64);
  }
  .container .section .about-content .about-info {
    color: rgb(75, 75, 75);
    text-align: left;
    font-size: 0.9rem;
    font-weight: 00;
  }
  .container .section:nth-child(2) {
    height: 100% !important;
    top: 0;
  }
  .container .section .skill-content {
    position: absolute;

    left: 3vw;
    max-width: 50vw;
  }
  .skill-popup {
    left: 7vw;

    width: 70%;
    height: 40%;
    /* border-top: 30px; */
  }
  .icon-title {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 840px) {
  .container .section .about-text {
    display: none;
  }
  .container .section:nth-child(1) {
    height: 30%;
  }
  .container .section:nth-child(2) {
    height: 60% !important;
  }
  .container .section:nth-child(3) {
  }
  .container .section:nth-child(4) {
    margin: 60px 0px;
  }
  .container .section:nth-child(5) {
    margin: 60px 0px;
  }
  .container .section:nth-child(6) {
    margin: 60px 0px 0px 0px;
  }
  .container .section .about-content {
    padding: 10px;
    top: 1%;
    left: 1%;
    text-align: center;
    width: 100%;
    height: 0;
    max-width: 90vw;
    min-height: 50vh;
  }
  .container .section .about-content .about-info {
    font-size: 0.8rem;
  }
  .container .section .content {
    max-width: 45vw;
    bottom: 5vh;
    left: 3vw;
  }
  .container .section .content h2 {
    font-size: 1rem;
  }
  .container .section .content .subject span {
    font-size: 0.1em;
    font-weight: 500;
    padding: 1px 7px;
  }
  .container .section .content p {
    font-size: 0.3rem;
  }
  .container .section .icon-bar {
    font-size: 1rem;
  }
  .container .section .skill-content .skill-front {
    max-width: 400px;
    min-width: 350px;
    flex-wrap: wrap;
  }
  .container .section .skill-content .skill-front .skills:nth-child(3),
  .skills:nth-child(4) {
    margin-top: 20px;
  }
  .skill-popup .popup-content {
    font-size: 1rem;
  }
  .container .section .skill-content {
    top: 10vh;
  }
}
